.MediaBySHFContainer
{
    position:relative;
    width:auto;
    text-align:center;
}
/*
.MediaBySHFContainer .MediaPlayerContainer
{
    width:1px;
    height:1px;
}
.MediaBySHFContainer .MediaPlayerContainer object,.MediaBySHFContainer .MediaPlayerContainer video,.MediaBySHFContainer .MediaPlayerContainer audio
{
    float:left;
}*/
.MediaBySHFContainer .MediaControllerContainer
{
    margin:10px 10% 0px 10%;
    width:80%;
    height:28px;
    display:block;
}
.MediaBySHFContainer .MediaControllerLeft,.MediaBySHFContainer .MediaControllerRight 
{
    width:auto;
    height:inherit;
    float:left;
}
.MediaBySHFContainer .btnControl
{
    margin-left:2px;
    width:28px;
    height:28px;
    border:none;
    background:url(MediaPlayerCollect.png) no-repeat 0 0;
    float:left;
    outline:none;
}
.MediaBySHFContainer .btnControlPlaying
{
    background-position:0 -30px;
}
.MediaBySHFContainer .btnControlPauseing
{
    background-position:0 0;
}
.MediaBySHFContainer .btnControlStop
{
    margin-right:2px;
    background-position:0 -60px;
}

/*进度条*/
.MediaBySHFContainer .ProcessBarContainer
{
    padding:4px 0px;
    height:20px;
    float:left;
    position:relative;
}
.MediaBySHFContainer .ProcessBarCommon
{
    width:11px;
    height:19px;
    float:left;
    background:url(MediaPlayerCollect.png) no-repeat;
}
.MediaBySHFContainer .ProcessBarLeft
{
    background-position:0 -139px;
}
.MediaBySHFContainer .ProcessBar
{
    height:19px;
    background:url(ProcessBarBg.jpg) repeat-x;
    float:left;
    position:relative;
}
.MediaBySHFContainer .ProcessBarRight
{
    background-position:-17px -139px;
}
.MediaBySHFContainer .ProcessBarSliderContainer 
{
    position:absolute;
    height:19px;
    width:10px;
    left:3px;
    top:4px;
}
.MediaBySHFContainer .ProcessBarSliderContainer .ProcessSlider
{
    position:relative;
    width:7px;
    height:15px;
    left:0%;
    top:2px;
    cursor:pointer;
    background:url(MediaPlayerCollect.png) no-repeat -19px -120px;
}
/*进度条*/

.MediaBySHFContainer .VolumeControlContainer
{
    width:auto;
    height:28px;
    float:left;
    position:relative;
}
.MediaBySHFContainer .btnControlVolume
{
    margin-right:2px;
    background-position:0 -90px;
}
.MediaBySHFContainer .VolumeBarContainer 
{
    width:28px;
    height:110px;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-10;
    visibility:hidden;
}
.MediaBySHFContainer .VolumeBarContainer .VolumeBar
{
    position:absolute;
    width:7px;
    height:80px;
    background-color:#98c218;
    border:1px solid #7c9f13;
    border-radius:4px;
    top:0px;
    left:10px;
}
.MediaBySHFContainer .VolumeBarContainer .VolumeSliderContainer 
{
    position:absolute;
    width:7px;
    height:68px;
    top:-2px;
    left:10px;
}
.MediaBySHFContainer .VolumeBarContainer .VolumeSliderContainer .VolumeSlider
{
    width:17px;
    height:17px;
    background:url(MediaPlayerCollect.png) no-repeat 0 -120px;
    position:absolute;
    left:-4px;
    top:50%;
    cursor:pointer;
}
.MediaBySHFContainer .MediaStatus
{
    width:70px;
    text-align:left;
    line-height:28px;
    float:left;
    font-size:12px;
}