.dialogBySHFLayer,.dialogBySHF,.dialogBySHFContainer,.dialogBySHFContainer td{
    margin:0;padding:0;
    text-align:center;
}
.dialogBySHFLayer{
    position:fixed;
    background:rgb(0,0,0)\0;
    filter:alpha(Opacity=40)\0;
    background:rgba(0,0,0,0.4);
    left:0;
    top:0;
}
.dialogBySHFWrapper{
    position: fixed;
    border-radius:10px;
    box-shadow:0 0 8px rgba(0, 0, 0, 0.8);
    background-color:#f2f2f2;
}
.dialogBySHFContainer {
    width:100%;
    height:calc(100% - 40px);
}
.dialogBySHFContainer caption.title{
    line-height:40px;
    background:#ffa500;
    color:#FFFFFF;
    font:bold 18px/40px "微软雅黑","黑体","宋体";
    cursor:move;
    border-radius:10px 10px 0 0;
}
.dialogBySHFContainer caption.title .close{
    position:absolute;
    right:7px;
    top:7px;
    width:21px;
    height:21px;
    line-height:21px;
    cursor:pointer;
    display:block;
    border:1px solid #da8e02;
    box-shadow:0 0 4px rgba(255, 255, 255, .9);
    border-radius:5px;
}
.dialogBySHFContainer td.dialogBySHF_tbody div.dialogBySHFMain{
    padding:20px;
    width:100%;
    height:100%;
    line-height:180%;
    box-sizing:border-box;
    overflow:auto;
    text-align:left;
}
.dialogBySHFFrame{
    width:100%;
    height:100%;
    border:none;
}
.dialogBySHFContainer td.dialogBySHF_tfoot{
    width:100%;
}
.btnDialogBySHF
{
    margin:10px;
    height:29px;
    min-width:54px;
    -moz-user-select: none;
    background-color:#F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    background-image:-ms-linear-gradient(rgb(245, 245, 245), rgb(241, 241, 241));
    background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    border:1px solid rgba(0,0,0,0.1);
    *border:1px solid #DDDDDD;
    border:1px solid #DDDDDD\0;
    border-radius:2px;
    font-family:新宋体;
    color:#666666;
    cursor:default;
    font-size:12px;
    font-weight:bold;
}
.btnDialogBySHF:hover
{
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
.btnDialogBySHF:focus
{
    border: 1px solid #4D90FE;
    outline: medium none;
}
